* {
	font-family: Verdana, sans-serif;
	margin:0px;
	padding:0px;
    text-align: center;
	box-sizing:border-box;
	color: rgb(57, 52, 46);

a {
	text-decoration:none;
}

}
p{
  margin-top: 40px;
}
.container {
	width:100%;
	max-width: 1300px;
	margin: 0px auto;
	padding:0px 10px;
}

header{
	background:rgb(119, 108, 96);
}
.header {
	padding:6px 0px 4px 0px;
	display:flex;
}
.menu {
	margin-left: auto;
}
.menu ul {
	display: flex;
	gap: 25px;
	list-style: none;
	margin-top:14px;
}
.menu li { 
	font-weight:bold;
	}
.openicon, .closeicon {
 	display:none; 
}

.w-100 {
	width:100%;
}

.product {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px 30px;
	margin:100px 0px;
}
.pro {
	border: 1px solid lightgrey;
	padding: 0px 0px 30px 0px;
	text-align: center;
	margin-bottom:20px;
}
.pro p { 
	color: rgb(35, 23, 129);
	font-size:18px;
    margin:5px 0px;
}
.pro b {
	color: red;
	font-size: 26px;
}
.pro strike {
    color: red;
}
.pro a {
    text-align: center;
    background: rgb(209, 191, 171);
    padding: 13px 60px;
    display: inline-block;
    border-radius: 100px;
    margin-top: 20px;
}

    section {
      margin: 20px auto;
      width: 80%;
      max-width: 850px;
      background-color: #ffffff;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }
centre {
      font-family: Georgia, sans-serif;
    }
    form {
      background:rgb(211, 202, 193);
      padding: 20px;
      max-width: auto-fit;
      margin: 40px;
      border-radius: 8px;
 box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  
    }
    label {
      display: block;
      margin-bottom: 6px;
      font-weight: bold;
    }
    input, select, button {
      width: 100%;
      padding: 8px;
      margin-bottom: 12px;
      border: 1px solid rgb(209, 191, 171);
      border-radius: 4px;
    }
    button {
      background-color: rgb(119, 108, 96);
      color: rgb(255, 255, 255);
      border: none;
      cursor: pointer;
    }
    button:hover {
      background-color:rgb(119, 108, 96);
    }
video {
      border: 2px solid black;
      outline:rgb(119, 108, 96) solid 10px;
      text-align: center;
	 margin: 50px;
      display: block;
      width: 400px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
    }
